.header {
    position: relative;
    z-index: 1;
}

.header-container {
    gap: 40px;
}

.header-container a {
    color: #001C1D;
}

.header-links {
    gap: 40px;
}

.header-logo {
    background-color: var(--main-green);
    padding: 30px 88px 18px 88px;
    position: relative;
    transform: scale(1);
    will-change: transform;
}

.header-logo:hover img {
    transition: .3s;
    transform: scale(1.01);
}

.header-logo img {
    position: relative;
    transition: .3s;
}

.header-logo::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 20px;
    background-color: var(--main-green);
    border-radius: 0 0 20px 20px;
    position: absolute;
}

.header__phones {
    gap: 4px;
}

.header__phones+a {
    font-size: 20px;
}

.header__phones a{
    font-size: 20px;
}


.header_body {
    background: #fff;
    z-index: 1;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(90, 90, 90, 0.09);
}