:root {
  --background: #ffffff;
  --foreground: #001C1D;
  --font-montserrat: 'Montserrat', sans-serif;
  --main-green: #2a7a71;
  --light-green: #F1F7F4;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--main-green);
  transition: .2s;
}

a:hover {
  color: var(--main-green) !important;
  transition: .2s;
}

button{
  font-family: var(--font-montserrat);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1490px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.font-900 {
  font-weight: 900;
}

.pretty-button {
  padding: 15px 20px;
  border: 1px solid #2A7A71;
  border-radius: 20px;
  color: #fff;
  background-color: #2A7A71;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--font-montserrat);
  cursor: pointer;
}

/* Active */
.pretty-button:active {
  top: 1px;
  transition: .3s;
}

/* Before */
.pretty-button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: .3s;
}

/* After */
.pretty-button::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #2A7A71;
  border-radius: 50%;
  display: block;
  transition: .3s;
}

/* Hover */
.pretty-button:hover {
  color: #ffffff;
  border: 1px solid #2A7A71;
}

.pretty-button:hover::before {
  top: -35%;
  background-color: #24665F;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.pretty-button:hover::after {
  top: -45%;
  background-color: #24665F;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Transparent variation */
.pretty-button--transparent {
  background-color: transparent;
  color: #2A7A71;
}

.pretty-button--transparent:hover span {
  color: #fff;
  transition: .3s;
}

.pretty-button--transparent:hover::before {
  background-color: #2A7A71;
}

.pretty-button--transparent:hover::after {
  background-color: #2A7A71;
}

/* Span inside button */
.pretty-button span {
  font-weight: 700;
  transition: .3s;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 20px;
}

/* SVG inside button */
.pretty-button svg {
  position: relative;
  z-index: 1;
}

.pretty-button svg rect {
  transition: .3s;
}

.pretty-button svg path {
  transition: .3s;
}

/* Hover effects for span and svg */
.pretty-button:hover span {
  color: #fff;
  transition: .3s;
}

.pretty-button:hover svg rect {
  fill: #fff;
  transition: .3s;
}

.pretty-button:hover svg path {
  fill: #fff;
  transition: .3s;
}

/* White variation */
.pretty-button--white {
  background-color: #fff;
  border-color: #fff;
}

.pretty-button--white span {
  color: #2A7A71;
}

.pretty-button--white:hover {
  border-color: #24665F;
}

.pretty-button--white:hover span {
  color: #fff;
  transition: .3s;
}

.pretty-button--white:hover::before {
  background-color: #2A7A71;
}

.pretty-button--white:hover::after {
  background-color: #2A7A71;
}

